* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #d9dcd6;
}

/*Found solution https://stackoverflow.com/questions/57743633/how-do-you-add-a-navigation-bar-on-the-same-line-as-a-header*/
/* navbar defines top header and nav links*/
.navbar {
    display:flex;
    justify-content:space-between;
    align-items:center; 
    background-color: #2a607c;
    padding: 20px;
  }

#h1 {
    font-size: 48px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #ffffff;
}

#navbarlinks {
    font-size: 20px;
}

#navbarlinks li {
    display:inline-block;
    padding: 0px 10px;
}

#navbarlinks a {
    text-decoration:none;
    color: #ffffff;
    padding-right: 10px;
}

p {
    font-size: 16px;
}

/*Main background image*/
.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}

.float-left {
    float: left;
    margin-right: 25px;
}

.float-right {
    float: right;
    margin-left: 25px;
}

/*Main flex box container for info and benefits*/
.container-main {
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 0px 20px 20px 20px;
}

.container {
    display: flex;
    flex-direction: column;
    width: 80%;
    padding-right: 40px;
}


.info {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    background-color: #0072bb;
    color: #ffffff;
}

.row img {
    max-height: 200px;
}

.row h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

.b-container {
    width: 20%;
    height: 100%;
    margin-left: 10px;
    color: #ffffff;
    background-color: #2589bd;
}

.b-text {
    flex-direction: row;
    padding: 18px;
}

.benefit {
    margin-bottom: 32px;
}

.benefit h3  {
    margin-bottom: 10px;
    text-align: center;
}

.benefit img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

footer {
    padding: 30px;
    clear: both;
    text-align: center;
}

footer h4 {
    font-size: 20px;
}